* {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin-top: 250px;
}
#title {
  margin-top: 50px;
  text-align: center;
}
#box-text {
  font-family: "Andika", sans-serif;
  text-align: center;
  width: 360px;
  max-width: 400px;
  margin-inline: auto;
  height: 100vh;
}

body {
  background: url(./assets/bg-destiny-eye-m.jfif) no-repeat center/cover;
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: "kalnia-glaze";
}

p {
  color: white;
  font-weight: 900;
  margin-top: 25px;
  margin-bottom: 40px;
  opacity: 0.9;
}

input,
button {
  display: block;
  width: 100%;

  padding: 20px;
  font-size: 20px;
  border-radius: 4px;
}

input {
  color: blue;
  margin-bottom: 5px;
}

button {
  border: none;
  background-color: blueviolet;
  color: white;
  transition: filter 0.2s;
}

/* pseudo-class :hover */
button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

#resposta {
  margin-top: 30px;

  transition: opacity 1s;
}

#resposta div {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.9;
  margin-bottom: 10px;
}
